<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Movie Watch List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/movies/new" class="btn btn-primary">Create a New Movie</a>
        </div>
    </div>
    {{#each movies}}
    <div class="row">
        <div class="col">
            <h3>{{id}}. {{movie}}</h3>
            <a href="/movies/{{id}}" class="btn btn-link">View Details</a>
            <a href="/movies/{{id}}/edit" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" data-id={{id}}>Delete</button>
        </div>
    </div>
    {{/each}}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-danger").on("click", function () {
            console.log($(this).attr("data-id"));
            const idToDelete = $(this).attr("data-id");
            $.ajax(`/api/movies/${idToDelete}`, { type: "DELETE" }).then((response) => {
                console.log(response);
                location.reload();
            })
        })
    })
</script>